* {
  font-family: Roboto, sans-serif;
  position: relative;
  margin: 0;
}

body * {
  display: block;
}

html {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

app-root {
  height: 100%;
  width: 100%;
}

span, a {
  display: inline;
}

a {
  text-decoration: none;
}
